# Python/FastAPI environment variables
APP_HOST=localhost
APP_PORT={{ app_local_port }}

# AWS services (if needed)
# AWS_ACCESS_KEY_ID=<FILL ME IN>
# AWS_SECRET_ACCESS_KEY=<FILL ME IN>
# AWS_DEFAULT_REGION=<FILL ME IN>

# Database (if needed)
# DB_HOST=127.0.0.1
# DB_NAME=app
# DB_USER=app
# DB_PASSWORD=secret123
