import os
import magic
import uuid

from fastapi import FastAPI, Form, Header, HTTPException, Request, Response, UploadFile
from fastapi.middleware.cors import CORSMiddleware

from {{app_name}}.config.settings import (
    API_VERSION,
    SUPPORTED_CONTENT_TYPES,
    DocumentCategory,
    ProcessStatus,
)

from {{app_name}}.services.s3 import upload_document_for_processing

app = FastAPI(
    title="{{app_name | title}} Document Processing API",
    description="API for {{app_name}} document processing",
    version=API_VERSION,
)

app.add_middleware(
    CORSMiddleware,
    allow_origins=["*"],
    allow_credentials=True,
    allow_methods=["*"],
    allow_headers=["*"],
)


@app.get("/")
def root():
    return {"message": "{{app_name | title}} Document Processing API", "status": "healthy"}


@app.get("/health")
async def health():
    return {"message": "healthy"}


@app.get("/config")
def get_config():
    return {
        "apiUrl": "http://localhost:8000",
        "version": API_VERSION,
        "environment": os.getenv("ENVIRONMENT", "local"),
        "endpoints": {
            "upload": "/v1/documents",
            "status": "/v1/documents/{job_id}",
            "health": "/health",
        },
        "supportedFileTypes": SUPPORTED_CONTENT_TYPES,
    }


@app.post("/v1/documents")
async def create_document(
    request: Request,
    response: Response,
    file: UploadFile,
    category: DocumentCategory | None = Form(None, description="Type of document being uploaded"),
    trace_id: str = Header(None, alias="X-Trace-ID"),
):
    """Upload a document for processing and return a job ID."""
    if not trace_id:
        trace_id = str(uuid.uuid4())

    file_content = await file.read()
    actual_content_type = magic.from_buffer(file_content, mime=True)

    if actual_content_type not in SUPPORTED_CONTENT_TYPES:
        raise HTTPException(
            status_code=400,
            detail=(
                f"Invalid file type detected '{actual_content_type}'. File must be "
                f"{', '.join(SUPPORTED_CONTENT_TYPES)}"
            ),
        )

    print(f"Processing {file.filename}; "
          f"category: {category}; "
          f"content-type: {actual_content_type}")

    file.file.seek(0)
    file_extension = file.filename.split(".")[-1]
    file_name = file.filename.split(".")[0]
    unique_file_name = f"{file_name}-{uuid.uuid4()}.{file_extension}"
    job_id = str(uuid.uuid4())

    await upload_document_for_processing(
        file=file, 
        unique_file_name=unique_file_name, 
        content_type=actual_content_type, 
        user_provided_document_category=category,
        job_id=job_id,
        trace_id=trace_id)
    
    response.headers["X-Trace-ID"] = trace_id
    return {
        "jobId": job_id,
        "status": ProcessStatus.NOT_STARTED.value,
        "message": "Document uploaded successfully"
    }


@app.get("/v1/documents/{job_id}")
async def get_document_results(job_id: str, include_pii=False):
    """Get processing results by job ID"""
    return {"job_id": job_id, "status": ProcessStatus.PROCESSING.value}