name: CI {{app_name}}

on:
  push:
    branches:
      - main
    paths:
      - src/**
      - .github/workflows/ci-{{app_name}}.yml
  pull_request:
    paths:
      - src/**
      - .github/workflows/ci-{{app_name}}.yml

defaults:
  run:
    working-directory: ./

jobs:
  # As an enhancement, it is possible to share the built docker image and share
  # it across jobs as described in:
  # https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts#passing-data-between-jobs-in-a-workflow
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Add Python linting commands here

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Add Python setup here
      # Add Python build here

      - name: Start tests
        run: # Add Python tests here
